<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         backupGlobals="false"
         backupStaticProperties="false"
         bootstrap="tests/bootstrap.php"
         cacheResult="true"
         cacheResultFile="var/cache/phpunit-result.cache"
         colors="false">
    <source>
        <include>
            <directory suffix=".php">src/</directory>
            <directory suffix=".php">config/container/</directory>
            <directory suffix=".php">migrations/</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="Integration">
            <directory>tests/src/Integration/</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>tests/src/Unit/</directory>
        </testsuite>
    </testsuites>
    <coverage includeUncoveredFiles="true"/>
</phpunit>
